.main-contacto {
    
        .formulario {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            background-image: url(../imagenes/patron-flores.png);
        }
    }
