.flex {
    display: flex;
    justify-content: center;
}
.bg-prim {
    --bs-primary-rgb: 235, 222, 240;
}
h1 {
    font-family: 'Kalam', cursive;
    color: #81073a;
    text-decoration: overline;
    font-size: 50px;
    text-align: center;
    padding: 20px;
}
.dangch {
    --bs-danger-rgb: 16, 95, 123
}