.main-index {
    --bs-primary-rgb: 235, 222, 240;
    .flex {
        display: flex;
        justify-content: center;
    }
    h1 {
        font-family: 'Kalam', cursive;
        color: white;
        text-decoration: overline;
        font-size: 50px;
        text-align: center;
        padding: 20px;
        background: linear-gradient(to right, #eec0dc, #75949e);
    }

    .col-md-12{
        font-size: 30px;
        text-decoration: none;
        text-align: center;
        color: white;
        width: 100%;
        background: linear-gradient(to right, #348f50, #56b4d3);
    }
}