/*estilos globales*/
html {
    font-family: 'Kalam', cursive;
    background-color: #eff7f6;
}
.titulo-principal {
    color: nth($list: $colores, $n:3 );
}

.texto-secundario {
    @extend %estilos;
}
.bg-sec {
    --bs-secondary-rgb: 213, 219, 219
}