/*estilos globales*/
html {
    font-family: 'Kalam', cursive;
    background-color: #eff7f6;
}
.titulo-principal {
    color: #07814e;
}

.texto-secundario {
    font-size: 30px;
    text-decoration: none;
    text-align: center;
    background-color: palevioletred;
    color: white;
    width: 100%;
}
.bg-sec {
    --bs-secondary-rgb: 213, 219, 219
}