//variables se llama con $//
$color-principal: #5a0529;
//listas se llaman con nth//
$colores:
#5a0529,
palevioletred,
white,
#07814e,
rgba(255, 0, 255, 0.2117647059),
#D2B4DE,
aliceblue,
#eff7f6;
//mapas map-get//
$boton-primario:(
    bg-primario:#D2B4DE,
    texto-primario: #ffffff,
    width-primario: 150px,
    border-primario: 2px solid red
);
