header {
    background-image: url(../imagenes/imagen-de-fondo.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    top: 100%;
    .bg-0 {
        --bs-bg-opacity: 0;
    }
    .icono-mandarina{
            position: absolute;
            top: 115px;
            left: 55px;
        height: 40px;
        width: 40px;
        animation-name: icono-mandarina;
        animation-duration: 3s;
        animation-iteration-count: infinite;
    }
    @keyframes icono-mandarina {
        0%{transform: rotate(0);}
        100%{transform: rotate(360deg);}
    }
    .custom-icon{
        font-size: 70px;
    }

    .menu {
        flex-grow: 0;

        .menu-ul {
            column-gap: 10px;
            align-items: center;
        }

        ul {
            li {
                a {
                    color: #5a0529;
                    font-size: 25px;
                    text-decoration: none;
                    padding: 20px;

                    &:hover {
                        color: #ff00ff36;
                        text-decoration: underline;
                    }
                }
            }
        }
    }
    .menu-icon {
        background-image: url(../imagenes/menu\ hamburguesa.svg);
    }

    .menu-button {
        border: none;

        &:focus {
            box-shadow: none;
        }
    }


    .padd-0 {
        padding: 0;
    }

}
.navbar-toggler{
    width: 200px;
}
.p-3 {
    padding: 0 !important;
    padding-top: 0 !important;
    padding-right: 0 !important;
    padding-bottom: 0 !important;
    padding-left: 0 !important;
}
